<div class="header-action">
  <h2>Gestión de Categorías</h2>
  <button mat-raised-button color="primary" (click)="openCreateDialog()">
    <mat-icon>add</mat-icon> Nueva Categoría
  </button>
</div>

<div class="mat-elevation-z2 table-container">
  <table mat-table [dataSource]="dataSource()">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element" class="font-medium">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let element">{{ element.description || 'Sin descripción' }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="openEditDialog(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    [length]="totalElements()"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>